#keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    padding: 10px;
}

button {
    border-radius: 50px;
    width: 30px;
    cursor: pointer;
    background-color: hsl(0, 0%, 30%);
    color: white;
    border: none;
}

#calculator {
    background: black;
    border-radius: 15px;
    height: 175px;
    max-width: 500px;
    overflow: hidden;
}

#display {
    text-align: left;
    color: black;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

button:hover {
    background-color: hsl(0, 0%, 40%);
}

button:active {
    background-color: hsl(0, 0%, 50%);
}
